body{
    background-color: #EBD7BE;
}

header{ 
    background-color: #F5E9D3;
    border-bottom: solid 1px ;
    border-color: #C4A484;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}