body{
    background-color: #EBD7BE;
}

header{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #F5E9D3;
    border-bottom: 1px solid #C4A484;
    height: 70px;
    font-family: Arial, sans-serif;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

.logo{
    width: 200px;
    height: 50px;
    margin-left: 20px;
}

.profile-icon{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left: auto;
    align-items: center;
}

.side-container{
    background-color:#F5E9D3;
    position: fixed;
    top: 200px; 
    bottom: 300px;
    width: 70px;
    height: 450px;
    position: fixed;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}


.sidenav{
    position: fixed;
    left: 0;
    top: 200px; 
    bottom: 0;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    background: transparent;
}

.sidenav img {
    background-color: #75491C;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 4px;
    cursor: pointer;
}

#icon1{
    background-color: #75491C;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 4px;
    cursor: pointer;
}

#icon1:hover{
    background-color: #4B2E1E;
}

#icon2{
    background-color: #75491C;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 4px;
    cursor: pointer;
}

#icon2:hover{
    background-color: #4B2E1E;
}

#icon3{
    background-color: #75491C;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 4px;
    cursor: pointer;
}

#icon3:hover{
    background-color: #4B2E1E;
}

#icon4{
    background-color: #75491C;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 4px;
    margin-top: 60px; 
    margin-bottom: 20px;
    cursor: pointer;
}

#icon4:hover{
    background-color: #4B2E1E;
}

.main-content{
    margin-left: 80px;
    margin-top: 50px;
    padding: 50px;
    background-color: #F5E9D3;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}


